<div class="media">
  <div class="media-left media-middle">
    <router-link
      :to="'/movie/'+movie.id"
      active-class="active"
      class="nav-item"
      tag="a"
    >
      <img class="media-object" :src="movie.thumbnail" :alt="movie.name">
    </router-link>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ movie.name }}</h4>
    <p>Director: {{ movie.director.name }}, Actors: <span v-for="actor in movie.actors">{{actor.name}}, </span></p>
    <p>{{ movie.description }}</p>
  </div>
</div>
